<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a password reset token. Your token is: <%= @token %></p>

<p>To change your password, please visit the password reset form and enter this token when prompted.</p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the password reset form and enter this token to create a new password.</p>
